html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #64707e;
  background-image: url("css-images/bg_bitd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  position: relative;
  height: 100%;
}

header {
  height: 15%;
}

main {
  position: relative;
  min-height: 80%;
  overflow: auto;
}

footer {
  box-sizing: border-box;
  font-size: small;
  background-color: #333;
  width: 100%;
  height: 5%;
  padding: 0.5em;
}

footer a:link, 
footer a:visited {
  color: #dedede;
}

footer a:hover, 
footer a:active {
  color: #6f88bb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clocks-master-container {
  position: absolute;
  left: 10%;
  min-height: 100%;;
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 800px) {
  body {
    background-image: none;
  }

  header {
    height: 10%;
  }  

  main {
    min-height: 85%;
  }

  .clocks-master-container {
    left: 0;
    width: 100%;
    background: none;
  }
}