/* Clock Display */
.clock-container {
  position: relative;
  height: 250px;
  width: 250px;
  display: inline-block;
  margin: 50px;
  vertical-align: top;
}

.clock {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: solid 4px;
  border-color: #858585;
  display: inline-block;
  overflow: hidden;
}

.clock-segment {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  border: solid 2px;
  border-color: #858585;
  transform-origin: bottom right;
  transition: ease 200ms;
}

.clock-segment.ticked {
  background-color: #3f434d;
}

.clock-segment.ticked:nth-child(2n) {
  background-color: #54688f;
}

.clock-segment.unticked {
  background-color: #dedede;
}

.clock-segment.unticked:nth-child(2n) {
  background-color: #eeeeee;
}


/* Clock Settings */
.clock-settings .clock-toggle-settings-button {
  position: absolute;
  top: 0;
  left: 0;
  border-style: none;
  font-weight: bold;
  font-size: 30px;
  color: #54688f;
  background: none;
  text-align: center;
  vertical-align: middle;
  transition: ease 200ms;
  outline: none;
}

.clock-settings.opened .clock-toggle-settings-button {
  color: #dedede;
}

.clock-settings .clock-settings-pannel {
  transform: rotateX(90deg);
  transition: ease 200ms;
  transform-origin: top left;
  position: absolute;
  width: 100%;
  height: 90%;
  padding: 10% 0 0;
  border: solid 2px #333;
  background-color: #3339;
}

.clock-settings.opened .clock-settings-pannel {
  transform: rotateX(0);
}

.clock-settings .clock-master-option {
  color: #dedede;
  margin: 10px 25px;
}

.clock-settings .clock-master-option select, 
.clock-settings .clock-master-option input {
  width: calc(100% - 4px);
  text-align: center;
  text-align-last: center;
}

.clock-settings-move-item {
  display: inline-block;
  width: 50%;
}

.clock-settings-move-item label {
  display: block;
}

.clock-settings-move-item .clock-move {
  position: relative;
  border-radius: 50%;
  background: none;
  border: none;
  color: #dedede;
  font-size: 42px;
}

.clock-settings-move-item .clock-move::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.4em);
  left: calc(50% - 0.4em);
  border-radius: 50%;
  display: block;
  background: none;
  width: 0.8em;
  height: 0.8em;
  z-index: -1;
}

.clock-settings-move-item .clock-move:hover::after {
  background: #54688f;
}

.clock-label {
  position: absolute;
  bottom: -30px;
  left: 0;
  height: 25px;
  width: 100%;
  text-align: center;
  background-color: rgba(200,200,200,0.75);
  border: solid 1px;
  border-color: #333 ;
  font-weight: bold;
}
.clock-label:focus, .clock-label:active {
  background-color: #eeeeee;
}

.clock-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  border-radius: 50%;
  border-style: none;
  font-weight: bold;
  font-size: 32px;
  color: #860000;
  background: none;
  text-align: center;
  vertical-align: middle;
}


/* Master Controls */
.clocks-master-controls {
  text-align: center;
  vertical-align: middle;
}

.clocks-master-controls .clock-option-toggle-add-menu {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 34px);
  font-size: 64px;
  color: #54688f;
  background: none;
  border: none;
  transition: ease 500ms;
}

.clocks-master-controls.opened .clock-option-toggle-add-menu {
  top: -100%;
}


.clocks-master-controls .clock-option-wrapper {
  position: absolute;
  top: 200%;
  left: 0;
  transition: ease 500ms;
}
.clocks-master-controls.opened .clock-option-wrapper {
  top: 0;
}

.clocks-master-controls .clock-option-pannel {
  position: relative;
  border: solid 3px #54688f;
  color: #54688f;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #eeeeee66;
  overflow: hidden;
}

.clocks-master-controls .clock-master-option:first-child
{
  margin-top: 45px;
}

.clocks-master-controls .clock-master-option
{
  display: block;
  margin: 5px 25px;
}

.clocks-master-controls label
{
  font-weight: bold;
}


.clocks-master-controls input
{
  max-width: calc(100% - 50px);
  border: none;
  padding: 5px;
  text-align: center;
}

.clocks-master-controls #new-clock-segments-count {
  width: 50px;
  display: block;
  margin: auto;
  text-align: center;
}

input#new-clock-segments-count::-webkit-outer-spin-button,
input#new-clock-segments-count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.clocks-master-controls .clock-add {
  display: inline-block;
  margin: 10px 5px;
  border: solid 2px #54688f;
  color: #54688f;
  padding: 5px 15px;
  font-weight: bold;
  background-color: #eeeeee;
  transition: ease 200ms;
}

.clocks-master-controls .clock-add:hover {
  background-color: #54688f;
  color: #eee;
}

.clocks-master-controls .clock-add:disabled {
  background-color: #eeeeee;
  color: #5f5f5f;
  border-color: #5f5f5f;
}

/* Media querries */
@media only screen and (max-width: 800px) {
  .clock-container {
    height: 225px;
    width: 225px;
  }

  .clock-settings.closed .clock-toggle-settings-button {
    background-color: rgba(200,200,200,0.75);
    border-radius: 0.5em;
    padding: inherit 5px;
  }
}