/* Green */
.green .clock {
    border-color: #586658;
}
.green .clock-segment {
    border-color: #586658;
}
.green .clock-segment.ticked {
    background-color: #2a792a;
}

.green .clock-segment.ticked:nth-child(2n) {
    background-color: #4faa4f;
}

.green .clock-segment.unticked {
    background-color: #d4e0d9;
}

.green .clock-segment.unticked:nth-child(2n) {
    background-color: #f2f8f4;
}

.green .clock-toggle-settings-button {
    color: #586658;
}

/* Red */
.red .clock {
    border-color: #685c5c;
}
.red .clock-segment {
    border-color: #685c5c;
}
.red .clock-segment.ticked {
    background-color: #792a2a;
}

.red .clock-segment.ticked:nth-child(2n) {
    background-color: #aa4f4f;
}

.red .clock-segment.unticked {
    background-color: #e4d9d9;
}

.red .clock-segment.unticked:nth-child(2n) {
    background-color: #f8eded;
}

.red .clock-toggle-settings-button {
    color: #685c5c;
}