/* Green */
.green .clock {
    border-color: #465f46;
}
.green .clock-segment {
    border-color: #465f46;
}
.green .clock-segment.ticked {
    background-color: #2a792a;
}

.green .clock-segment.ticked:nth-child(2n) {
    background-color: #4faa4f;
}

.green .clock-segment.unticked {
    background-color: #c5e4d1;
}

.green .clock-segment.unticked:nth-child(2n) {
    background-color: #e9f8ee;
}

.green .clock-toggle-settings-button {
    color: #465f46;
}

/* Red */
.red .clock {
    border-color: #5f4646;
}
.red .clock-segment {
    border-color: #5f4646;
}
.red .clock-segment.ticked {
    background-color: #792a2a;
}

.red .clock-segment.ticked:nth-child(2n) {
    background-color: #aa4f4f;
}

.red .clock-segment.unticked {
    background-color: #e4c5c5;
}

.red .clock-segment.unticked:nth-child(2n) {
    background-color: #f8e9e9;
}

.red .clock-toggle-settings-button {
    color: #5f4646;
}